In [1]:
import pandas as pd

In [2]:
file1=pd.read_csv("Cloud Assignment1 files/SEData1.csv")

In [4]:
file2=pd.read_csv("Cloud Assignment1 files/SEData2.csv")

In [5]:
file3=pd.read_csv("Cloud Assignment1 files/SEData3.csv")

In [6]:
file4=pd.read_csv("Cloud Assignment1 files/SEData4.csv")

In [13]:
#merging file

In [19]:
mergedfile = pd.concat([file1,file2,file3,file4])

In [20]:
mergedfile['Body'] = mergedfile['Body'].replace('\n','', regex=True)

In [21]:
mergedfile['Body']= mergedfile['Body'].str.replace('<[^<]+?>', '')

<ipython-input-21-7762ccd2feb9>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  mergedfile['Body']= mergedfile['Body'].str.replace('<[^<]+?>', '')

In [22]:
mergedfile

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,DeletionDate,Score,ViewCount,Body,OwnerUserId,...,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,EmailHash,AccountId
0,927358,1,927386.0,NaN,2009-05-29 18:09:14,NaN,23348,10062790,I accidentally committed the wrong files to Gi...,89904,...,2021-10-21 09:24:06,NaN,NaN,NaN,2901,371,125,NaN,NaN,32399
1,2003505,1,2003515.0,NaN,2010-01-05 01:12:15,NaN,18514,9285139,I want to delete a branch both locally and rem...,95592,...,2021-10-22 13:34:14,http://webmasters.stackexchange.com/users/1925/,"Independence, Missouri United States",NaN,12180,3143,14,https://i.stack.imgur.com/uMfjc.jpg,NaN,33990
2,5767325,1,5767357.0,NaN,2011-04-23 22:17:18,NaN,9931,8937271,I have an array of numbers and I'm using the ....,364969,...,2016-07-13 02:51:02,http://www.twitter.com/jobzle,"Providence, RI",<p>Designer &amp; developer!</p>\n,1892,205,0,NaN,NaN,151241
3,16956810,1,16957078.0,NaN,2013-06-06 08:06:45,NaN,6304,8229811,I'm trying to find a way to scan my entire Lin...,954986,...,2019-04-04 00:53:13,NaN,NaN,<p>Third generation programmer.</p>\n,1287,335,63,NaN,NaN,923809
4,2906582,1,2906586.0,NaN,2010-05-25 16:39:47,NaN,2306,7805008,I would like to create an HTML button that act...,48523,...,2021-10-22 18:49:54,http://www.andrewhavens.com,"Portland, OR",NaN,7385,957,71,NaN,NaN,20341
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,26151,1,26162.0,NaN,2008-08-25 14:47:00,NaN,73,40455,C++ 0x has template aliases (sometimes referre...,2759,...,2021-03-10 14:03:56,http://about.me/ggodik,"New York, United States",<p>Software Engineer at a financial services c...,351,317,60,https://www.gravatar.com/avatar/?s=128&d=ident...,NaN,2008
49996,52677651,1,NaN,NaN,2018-10-06 09:33:25,NaN,29,40455,Visual Studio Code version 1.27.2Find all Refe...,2480797,...,2021-10-22 15:45:46,http://about.me/rinoldsimon,"Chennai, Tamil Nadu, India","<p>solo-hacker, visionary, tech evangelist, se...",194,169,11,NaN,NaN,2892289
49997,1857002,1,1862056.0,NaN,2009-12-06 23:26:37,NaN,24,40455,"""installing Zend Framework is so easy!!!!"" yea...",202895,...,2017-03-05 02:21:09,NaN,"Boston, MA",NaN,1185,203,43,NaN,NaN,69797
49998,12005526,1,22312983.0,NaN,2012-08-17 12:10:10,NaN,16,40454,I was given access to a server with 50+ php rp...,1382299,...,2017-11-05 21:04:58,NaN,NaN,<p>please delete me</p>\n,191,106,10,NaN,NaN,345898
49999,12567956,1,12568053.0,NaN,2012-09-24 15:16:19,NaN,11,40454,I'm having a problem starting Tomcat 7 from th...,630868,...,2021-09-25 18:26:46,NaN,New Mexico,<p>I'm a full time software developer with an ...,100,181,3,NaN,NaN,315231

In [27]:
mergedfile.to_csv('Cloud Assignment1 files/MergedFileHive1.csv')